@font-face {
  font-family: DroidArabicKufiRegular;
  src: url('./fonts/DroidArabicKufiRegular.ttf');
}

body {
  overflow: hidden;
  margin: 0;
  font-family: DroidArabicKufiRegular !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
